<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/css/animate.min.css">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="stylesheet" href="stylesheets/css/materialize.min.css">
<link rel="stylesheet" href="stylesheets/css/styles.css">
<link rel="icon" href="images/logo.png" type="image/png" sizes="16x16">

<title>Youtube Consumer</title>